<h1 style="margin: 2%">
  {{resourceInfo.name}}
</h1>

<table style="width: auto">
  <thead>
    <tr>
      <th>Account</th>
      <th>Project</th>
      <th>Rate</th>
      <th>Role</th>
      <th>Hours</th>
      <th>Cost</th>
      <th *ngFor="let week of resourceInfo.weeks" class="hours-column">
        {{week | date:'MM/dd'}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of resourceInfo.projects">
      <td>{{project.account}}</td>
      <td>{{project.assignment}}</td>
      <td>{{project.rate}}</td>
      <td>{{project.role}}</td>
      <td>{{project.hours}}</td>
      <td>{{project.cost}}</td>
      <td *ngFor="let week of resourceInfo.weeks" class="hours-column">
        {{findmatch(project, week)}}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td *ngFor="let week of resourceInfo.weeks" class="hours-column {{findtotalhrcellclass(week,resourceInfo.totalhoursmap)}}">
        {{findtotalhoursforweek(week,resourceInfo.totalhoursmap)}}
      </td>
    </tr>

  </tfoot>
</table>