
<div *ngFor="let resourceInfo of resourceInfoarr" class="hours-column">
<h3 style="margin: 2%">
  {{resourceInfo.name}} (<a (click)="deleteResource(resourceInfo._id)">remove</a>)
</h3>

<table style="width: auto">
  <thead>
    <tr>
      <th>Account</th>
      <th>Project</th>
      <th>Rate</th>
      <th>Role</th>
      <th>Hours</th>
      <th>Cost</th>
      <th *ngFor="let week of resourceInfo.weeks" class="hours-column">
        {{week | date:'MM/dd'}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of resourceInfo.projects">
      <td>{{project.account}}</td>
      <td><a href="assignment#{{project.account}} - {{project.assignment}}">{{project.assignment}}</a></td>
      <td>{{project.rate | currency:'USD' }}</td>
      <td>{{project.role}}</td>
      <td>{{project.hours}}</td>
      <td>{{project.cost | currency:'USD' }}</td>
      <td *ngFor="let week of resourceInfo.weeks" class="hours-column">
        {{project.projHrMap[week]}}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td *ngFor="let week of resourceInfo.weeks" class="hours-column {{ isExtaHr(resourceInfo.totalhoursmap[week]) }}">
        {{resourceInfo.totalhoursmap[week]}}
      </td>
    </tr>

  </tfoot>
</table>
</div>