table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 1%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th, td:first-child{
    background:lightgrey;
}
.assignment{
    margin: 2%;
}