@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 1%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th, td:first-child{
    background: lavender;
}
.assignment{
    margin: 2%;
}

form{
    margin: 1%;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}
.error{
    color: #D8000C;
    background-color: #FFD2D2;
}