<div *ngFor="let assignment of assignments" class="assignment">
  <span class="badge">{{assignment.name}} - {{assignment.account}}</span>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Rate</th>
        <th>Role</th>
        <th>Hours</th>
        <th>Cost</th>
        <th *ngFor="let week of assignment.weeks">{{week}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resource of assignment.resources">
        <td>{{resource.name}}</td>
        <td>{{resource.location}}</td>
        <td>{{resource.rate | currency:'USD'}}</td>
        <td>{{resource.role}}</td>
        <td>{{resource.totalhours}}</td>
        <td>{{resource.totalcost | currency:'USD' }}</td>
        <td *ngFor="let week of assignment.weeks">{{resource.allocation[week]}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{assignment.assignmentHours}}</td>
        <td>{{assignment.assignmentCost | currency:'USD' }}</td>
      </tr>

    </tfoot>
  </table>
</div>